# ----------------------
# Flask
# ----------------------
flask
keras==2.2.4
keras_preprocessing==1.1.0
tensorflow==2.11.1
pickle-mixin
numpy

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
